* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* фиксированный размер элементов учитывая паддинги и прочие отступы */
}

body {
	font: 100%/1.5em Arial, Helvetica, sans-serif; /* Размер шрифта - 100% (по ум - 16px), и междустрочное расстояние - 1.5em */
	color: #000;
}

h2 {
	font-size: 1.875em; /* 30px/16px */
}

.container {
	background: #e2e2e2;
	width: 90%;
	margin: 0 auto;
}

.container .cols {
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	background: #fd4;
	text-align: center;
}

/* Для горизонтальных отсечений */
.container :before,
.container :after,
.row:before,
.row:after {
	content: " ";
	display: table;
}

.container :before,
.container :after,
.row:before,
.row:after {
	clear: both;
}
/* END Для горизонтальных отсечений */

.container .cols.col-1 { width: 8.3333%; }
.container .cols.col-2 { width: 16.6666%; }
.container .cols.col-3 { width: 25%; }
.container .cols.col-4 { width: 33.3333%; }
.container .cols.col-5 { width: 41.6666%; }
.container .cols.col-6 { width: 50%; }
.container .cols.col-7 { width: 58.3333%; }
.container .cols.col-8 { width: 66.6666%; }
.container .cols.col-9 { width: 75%; }
.container .cols.col-10 { width: 83.3333%; }
.container .cols.col-11 { width: 91.6666%; }
.container .cols.col-12 { width: 100%; }

@media screen and (max-width: 320px) { /* Для всех мониторов меньше 320пх  -  media queries */
	h1 {
		color: blue;
	}
	
	.container .cols.col-1 ,
	.container .cols.col-2,
	.container .cols.col-3 ,
	.container .cols.col-4,
	.container .cols.col-5,
	.container .cols.col-6,
	.container .cols.col-7,
	.container .cols.col-8,
	.container .cols.col-9,
	.container .cols.col-10,
	.container .cols.col-11,
	.container .cols.col-12 { width: 100%; }
}